---
import Heading from "@ui/react/Heading";
import Section from "@ui/react/Section";
---

<Section
  id="experience"
  aria-label="My professional experience"
  classes="lg:landscape:w-2/3"
  innerClasses="grow"
>
  <Heading tagName="h2" size="h1">Experience</Heading>
  <div class="flex flex-wrap gap-5">
    <!--
      <ExpCards client:load exps={sortedExp} />
    -->
  </div>
</Section>
