---
//components
import Section from "@ui/react/Section";
import Heading from "@ui/react/Heading";
import CarouselControls from "@ui/react/carousel/CarouselControls";
import Card from "@ui/react/Card";
import CarouselWithModal from "@ui/react/carousel/CarouselWithModal";

// lib
import type { CarouselSettings } from "@lib/stores/types";
import { resumeProjects } from "@resume/lib/resumeProjects";
import { env } from "@lib/sharedEnv";

const settings: CarouselSettings = {
  offset: 300,
  maxLength: resumeProjects.length - 1,
};
---

<Section
  id="projects"
  aria-label="Featured set of my favorite projects"
  classes="landscape:min-h-screen lg:max-w-lg"
  overrideOverflow={true}
>
  <Heading tagName="h3" size="h1">Projects</Heading>
  <Card classes="mb-5 h-12">
    <CarouselControls store="modal" {settings} client:visible />
  </Card>
  <CarouselWithModal
    assets={env.PUBLIC_ASSETS}
    projects={resumeProjects}
    client:visible
  />
</Section>
