---
//components
import Section from "@ui/react/Section";
import Heading from "@ui/react/Heading";
import CarouselControls from "@ui/react/carousel/CarouselControls";
import CarouselCard from "@ui/react/carousel/CarouselCard";
import ProjectProvider from "@lib/contexts/ProjectPovider";
import Card from "@ui/react/Card";

// lib
import type { CarouselSettings } from "@lib/stores/types";
import { resumeProjects } from "@resume/lib/resumeProjects";

const settings: CarouselSettings = {
  offset: 300,
  maxLength: resumeProjects.length - 1,
};
---

<Section
  id="projects"
  aria-label="Featured set of my favorite projects"
  classes="landscape:min-h-screen lg:max-w-lg"
>
  <Heading tagName="h3" size="h1">Projects</Heading>
  <Card classes="mb-5 h-12">
  </Card>
</Section>
