---
//components
import Section from "@ui/react/Section";
import Heading from "@ui/react/Heading";
import ImageCarousel from "@ui/react/carousel/ImageCarousel";
import CarouselControls from "@ui/react/carousel/CarouselControls";
import Card from "@ui/react/Card";

// lib
import type { CarouselSettings } from "@lib/stores/types";
import { resumeProjects, heroImages } from "@resume/lib/resumeProjects";

const settings: CarouselSettings = {
  offset: 300,
  maxLength: resumeProjects.length - 1,
};
---

<Section
  id="projects"
  aria-label="Featured set of my favorite projects"
  classes="landscape:min-h-screen"
>
  <Heading tagName="h3" size="h1">Projects</Heading>
  <Card classes="mb-5 h-12">
    <CarouselControls {settings} store="modal" client:load />
  </Card>
  <ImageCarousel store="modal" array={heroImages} client:visible />
</Section>
