---
//components
import Section from "@ui/react/Section";
import Heading from "@ui/react/Heading";
import CarouselWrapper from "@ui/react/carousel/CarouselWrapper";
---

<Section id="projects" aria-label="Featured set of my favorite projects">
  <Heading tagName="h3" size="h1">Projects</Heading>
  <CarouselWrapper client:visible />
</Section>
