---
//components
import { Section } from "@jonsimeon/ui/react";
import { Heading } from "@jonsimeon/ui/react";
import { CarouselControls } from "@jonsimeon/ui/react";
import { Card } from "@jonsimeon/ui/react";
import { CarouselWithModal } from "@jonsimeon/ui/react";

// lib
import projects from "#lib/resumeProjects";
import type { CarouselSettings } from "@jonsimeon/lib/stores";
import { env } from "@jonsimeon/lib/env";

const settings: CarouselSettings = {
  offset: 300,
  maxLength: projects.length - 1,
};
---

<Section
  id="projects"
  aria-label="Featured set of my favorite projects"
  classes="landscape:min-h-screen lg:max-w-lg"
  overrideOverflow={true}
>
  <Heading tagName="h3" size="h1">Projects</Heading>
  <Card classes="mb-5 h-12 flex justify-center">
    <CarouselControls store="modal" {settings} client:visible />
  </Card>
  <CarouselWithModal {projects} assets={env.PUBLIC_ASSETS} client:visible />
</Section>
