---
import Marquee from "@ui/react/Marquee";
import { Icon } from "astro-icon/components";
---
  <Marquee
    client:visible
    repeat={20}
    speed={3}
    classes="bg-base-300 text-neutral py-1 sticky top-0 z-20"
  >
    <div class="space-x-2 flex items-center">
      <span>Let's work together!</span>
      <Icon name="mdi:star" />
      <span>It'd be real fun!</span>
      <Icon name="mdi:star" />
    </div>
  </Marquee>
