---
import ResumeLayout from "@ui/layouts/ResumeLayout.astro";
import Section from "@ui/react/Section";
import HeroSection from "@resume/components/HeroSection.astro";
import ResumeMarquee from "@resume/components/ResumeMarquee.astro";
import Resume from "@resume/components/resume/Resume.astro";
---

<ResumeLayout>
  <HeroSection />
  <ResumeMarquee />
  <Resume />
  <Section>Projects</Section>
  <Section>Experience</Section>
</ResumeLayout>
