---
import ResumeLayout from "@ui/layouts/ResumeLayout.astro";
import Section from "@ui/react/Section";
---

<ResumeLayout>
  <Section>Hero Section</Section>
  <Section>Resume</Section>
  <Section>Projects</Section>
  <Section>Experience</Section>
</ResumeLayout>
