---
import MainHead from "@ui/astro/MainHead.astro";

const siteInfo = {
  title: "Resume",
  description: "Lalallalal",
};

const { title, description } = siteInfo;
---

<html lang="en">
  <MainHead {title} {description} />
  <body class="p-5">
    <h1 class="text-3xl font-display font-bold">Astro</h1>
  </body>
</html>
