---
import { Icon } from "astro-icon/components";
import Card from "@ui/react/Card";
import Heading from "@ui/react/Heading";
import Badge from "@ui/react/Badge";

//lib
import dbClient from "@lib/db/directus";
import { readSingleton } from "@directus/sdk";

const resume = await dbClient.request(
  readSingleton("resume", {
    fields: [{ toc: [{ icon_badge_id: ["icon", "href", "label"] }] }],
  }),
);

const toc = resume.toc!.map((id) => id.icon_badge_id);
---

<Card color="warning" classes="md:grow-0 h-fit">
  <div class="card-body p-5">
    <Heading tagName="h3" size="h2"> Quick Links </Heading>
    <ul class="flex flex-col gap-2">
      {
        toc.map((i) => (
          <Badge>
            <Icon name={i.icon} />
            <a href={i.href}>{i.label}</a>
          </Badge>
        ))
      }
    </ul>
  </div>
</Card>
