---
import Heading from "@ui/react/Heading";
import Section from "@ui/react/Section";

import Toolbox from "@resume/components/resume/Toolbox.astro";
import MeBlurb from "@resume/components/resume/MeBlurb.astro";
import QuickLinks from "@resume/components/resume/QuickLinks.astro";
---

<Section id="resume">
  <Heading tagName="h2" size="h1">Resume</Heading>
  <div class="flex flex-wrap lg:flex-nowrap gap-5">
    <QuickLinks />
    <MeBlurb />
    <Toolbox />
  </div>
</Section>
