---
import { Heading } from "@jonsimeon/ui/react";
import { Section } from "@jonsimeon/ui/react";

import Toolbox from "#components/resume/Toolbox";
import MeBlurb from "#components/resume/MeBlurb";
import QuickLinks from "#components/resume/QuickLinks";
---

<Section id="resume" aria-label="My resume">
  <Heading tagName="h2" size="h1">Resume</Heading>
  <div class="flex flex-wrap lg:flex-nowrap gap-5">
    <QuickLinks />
    <MeBlurb />
    <Toolbox />
  </div>
</Section>
