---
// components
import { Icon } from "astro-icon/components";
import Card from "@ui/react/Card";
import Heading from "@ui/react/Heading";
import Badge from "@ui/react/Badge";

// lib
import { readItems } from "@directus/sdk";
import dbClient from "@lib/db/directus";

// data
const allSkills = await dbClient.request(
  readItems("icon_badge", {
    fields: ["icon", "label", "description"], 
    filter: { tag: { _eq: "skills" } },
    sort: "label",
  }),
);
---

<Card color="primary" classes="lg:w-1/2">
  <div class="card-body p-5">
    <Heading
      tagName="h3"
      size="h2"
      addMargin={false}
      classes="text-accent tracking-wide"
    >
      Skills
    </Heading>
    <p>
      Here are some of the skills I've picked up over the years.
      <br />
      Hover over them to inspect! 😄
    </p>
    <ul class="flex flex-wrap gap-2 my-5">
      {
        allSkills.map((i) => (
          <Badge
            title={i.description}
            classes="cursor-zoom-in"
          >
            <Icon name={i.icon} />
            {i.label}
          </Badge>
        ))
      }
    </ul>
  </div>
</Card>
