---
import type { HTMLAttributes } from "astro/types";
import { readSingleton } from "@directus/sdk";
import { dbClient, type MainBadges } from "@jonsimeon/lib/db";
import { Section } from "@jonsimeon/ui/react";
import { MotionNav } from "@jonsimeon/ui/react";

const lRequest = await dbClient.request(
  readSingleton("main", {
    fields: [{ toc: [{ icon_badge_id: ["icon", "href", "label"] }] }],
    deep: {
      toc: { _filter: { icon_badge_id: { tags: { _icontains: "toc-link" } } } },
    },
  }),
);

const links = lRequest.toc as MainBadges[];

const fRequest = await dbClient.request(
  readSingleton("main", {
    fields: [{ toc: [{ icon_badge_id: ["icon", "href", "label"] }] }],
    deep: {
      toc: { _filter: { icon_badge_id: { tags: { _icontains: "filter" } } } },
    },
  }),
);

const filters = fRequest.toc as MainBadges[];

interface Props extends HTMLAttributes<"nav"> {
  classes?: string;
}
---

<Section
  aria-label="nav"
  classes="w-72 xl:w-56"
  tagType="nav"
  innerClasses="md:pr-0"
>
  <MotionNav {links} {filters} client:load/>
</Section>
