---
import { Footer } from "@jonsimeon/ui/astro";
import { MainLayout } from "@jonsimeon/ui/layouts";
import { Marquee, Section } from "@jonsimeon/ui/react";
import Nav from "#components/Nav";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "My Portfolio",
  description = "Jon Simeon is a designer, illustrator, and programmer based in Massachusetts — this is his portfolio!",
} = Astro.props;
---

<MainLayout {title} {description}>
  <main>
    <Marquee
      client:visible
      repeat={10}
      speed={10}
      classes="bg-base-300 text-neutral py-1 fixed top-0 z-30"
    >
      <span>
        Jon Simeon is a designer, illustrator, and programmer based in
        Massachusetts &nbsp;•
      </span>
    </Marquee>
    <div class="flex justify-center md:py-10">
      <Nav />
      <Section aria-label="page content" classes="max-w-screen-lg 2xl:max-w-screen-xl min-h-[92vh]">
        <div class="flex flex-col gap-7 grow">
          <slot />
        </div>
      </Section>
    </div>
  </main>
  <Footer />
</MainLayout>
