---
import { MainLayout } from "@jonsimeon/ui/layouts";
import { Section } from "@jonsimeon/ui/react";
import Nav from "#components/Nav";
import MainFooter from "#components/MainFooter";
import MainMarquee from "#react/MainMarquee";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "My Portfolio",
  description = "Jon Simeon is a designer, illustrator, and programmer based in Massachusetts — this is his portfolio!",
} = Astro.props;
---

<MainLayout {title} {description}>
  <main>
    <MainMarquee client:idle />
    <div class="flex justify-center md:py-10">
      <Nav />
      <Section
        aria-label="page content"
        classes="max-w-screen-lg 2xl:max-w-screen-xl min-h-[92vh]"
        innerClasses="md:pl-0"
        overrideOverflow={true}
      >
        <div class="flex flex-col gap-7 grow">
          <slot />
        </div>
      </Section>
    </div>
  </main>
  <MainFooter />
</MainLayout>
